/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Pokemon Font by FontGet replica of the Pokemon Logo's custom typeface. 
   Accessed via fontbolt.com */
@font-face {
    font-family: "pokemon-logo-replica";
    src: url(../fonts/Pokemon.ttf);   
}

/* Pokemon Font by Jackster Productions replica font of the original Pokemon
   Games for the Game Boy. 
   Accessed via fontspace.com */
@font-face {
    font-family: "pokemon-game-boy-replica";
    src: url(../fonts/PokemonGb-RAeo.ttf);
}



/* CSS Variables */
:root {
    --primary-font: "pokemon-logo-replica", Arial, sans-serif;
    --secondary-font: "pokemon-game-boy-replica", "Courier New", monospace;
    --general-font: "Roboto", Verdana, sans-serif;
    /* Pokemon Go brand color codes by brandcolorcode.com */
    --Yellow: #FFCB08;
    --Light-Blue: #3561AD;
    --Blue: #0B4DA2;
    --Dark-Blue: #07224E;
    --White: #FFFFFF;
    --Grey: #BCBDC0;
    --Red: #E21C25;
}



/* Homepage */
#homepage {
    /* Image of Pokemon Cards by Mick Haupt. Acessed via unsplash.com */
    position: relative;
    background: url(../images/homepage-background-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    min-height: 100vh;   
}

/* Black Semi-Transparent overlay */
#homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Places the overlay below the content */
    pointer-events: none; /* Allows the mouse and buttons to work */
}

/* Ensures the content stays above the overlay */
#homepage > * {
    position: relative;
    z-index: 2;
}

#gametitle {
    font-family: var(--primary-font);
    color: var(--Yellow);
    /* Used fluentsupport.com for outline font coloring */
    -webkit-text-stroke: 3px var(--Blue);
}



/* Buttons */
#button, #myBtn {
    font-family: var(--secondary-font);
    background-color: var(--Red);
    color: var(--Dark-Blue);
}

/* Modal Styling */
.modal-content {
    font-family: var(--general-font);
    background-color: var(--Yellow);
    color: var(--Dark-Blue);
}